{% extends 'base.html'%}

{% block content %}
	<div class="container">
        <div class="row">
        	<div class="col-md-4 text-align-center">
        	</div> 
			<div class="col-md-4">
				<h1>About Us</h1>
        <p>This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.
        This is about us.This is about us.</p>
        <p>This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.
        This is about us.This is about us.</p>        
        <p>This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.
        This is about us.This is about us.</p>        
        <p>This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.
        This is about us.This is about us.</p>        
        <p>This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.
        This is about us.This is about us.</p>
			</div>
		</div>
    </div>
{% endblock %}