{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content%}


<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4 col-sm-offset-3">
		{% if title %}
			<h1 class="{% if tit_align_center %}text_align_center{% endif %}">{{title}}</h1>
		{% endif %}
		<form method='POST' action=''>{% csrf_token %}
		{{form|crispy}}
		<input type='submit' name='submit'/>
		<!-- 	<input type="text" name="">
			<input type="" name=""> -->
	</div>
</div>
</form>
{% endblock %}