{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% load static %}
<style type="text/css">
      {% block style %}
      	.jumbotron{
      		background-color: #0056b3;
      		color: #FFF;
      	}
      {% endblock %}
    </style>

{% block jumbotron %}
{% if not request.user.is_authenticated %}
        <div class="jumbotron">
        
        <div class="row">
          <div class='col-sm-1'></div>
        <div class="col-sm-6"> 
        <h1>Welcome page</h1>
        <p class="text-align-left">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">Join Us &raquo;</a>
        </div>
        <div class="col-sm-5">
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/GxbJVB65bAs" frameborder="0" allowfullscreen></iframe> -->
          <img src="{% static 'img/one.jpeg'%}" width="460" height="300" class="img-responsive"/>
        </div>
        </div>
        </div>
      </div>
{% endif %}
{% endblock %}
{% block content %}
{% if request.user.is_authenticated and request.user.is_staff %}
	<div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-5'>
    <h1>{{logged_in_as}}</h1>
    </div>
    <div class='col-md-1'></div>
    <div class='col-md-2'>
      <a href="{% url 'stock_home' %}"><i class="fa fa-plus-circle fa-2x" ></i>   Item details</a>
    </div>
    <div class='col-md-2'>
      <a href="{% url 'tax_detail' %}"><i class="fa fa-rupee fa-2x" ></i>  Tax view</a>
    </div>
  </div>
  

	<div class="container">

	<table class="table">
    <tr><th>No.</th><th>Item name</th><th>Incoming</th><th>Opening</th><th>Sales</th>
      <th>Closing</th><th>Added</th></tr>
  {% if queryset %}
  	{% for item in queryset %}
  		<tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.itemname}}</td><td align="center">{{item.incoming}}</td><td align="center">{{item.opening}}</td><td align="center">{{item.sales}}</td><td align="center">{{item.closing}}</td><td align="center">{{item.timestamp|timesince}} ago</td></tr>
  	{% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
    <tr><td></td><th>TOTAL</th><th>{{total_incoming}}</th><td></td><th>{{total_sales}}</th><td></td><td>
    </td></tr>
	</table>
  <div class="container">
    <form method="post">{% csrf_token %}
  <div class="row">

    <div class="col-md-4">
      <h2>daily stock update:</h2>
    </div>
    <div class="col-md-4">
    
      {{ form|crispy }}
    
  </div>
    <div class="col-md-2">
    <button type="submit" value="Daily Stock" name="Daily Stock" class="btn btn-primary" >
      <i class="fa fa-plus fa-1x" ></i> Daily Stock
    </button>
    </div>
    <div class="col-md-2">
      <button formtarget="_blank" type="submit" value="Print" name ="Print" class="btn btn-primary" >
      <i class="fa fa-print fa-1x" ></i> Print
      </button>
    </div>  
  
   </div>
   </form>
   </div>

	</div>
  <hr>
  <div class="container">
    <div class='row'>
    
    <div class='col-md-5'>
    <h5>Employee details</h5>
    </div>
    <div class='col-md-5'></div>
      <div class='col-md-1'>
      <a style="margin-bottom:10px" class="btn btn-outline-success" href="{% url 'registration_register' %}">Registration</a>
      </div>

  </div>
  <table class="table">

    <tr><th align="center">No.</th><th align="center">Id</th><th align="center">Userame</th><th align="center">Email</th><th align="center">Last login</th><th align="center">Joined on</th></tr>
  {% if workers %}
    {% for item in workers %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.id}}</td><td align="center">{{item.username}}</td><td align="center">{{item.email}}</td><td align="center">{{item.last_login|timesince}} ago</td><td align="center">{{item.date_joined|date}} ago</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th align="center">NO workers</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
      
    </td></tr>
  </table>
</div>
  <hr>
  <div class="container">
    <form method="post">{% csrf_token %}


  {{ edit_form.non_field_errors }}

  {{ edit_form.source.errors }}
  {{ edit_form.source }}

  <table class="table">

      <tr>
        <td>choose item :</td>
        <td>
          {{ edit_form.itemname }}
          {{ edit_form.name.errors }}
        </td>
      
        <td>start date :</td>
        <td>
          
          {{ edit_form.start_dt }}
          {{ edit_form.start_dt.errors }}
        </td>
      
        <td>end date :</td>
        <td>
          
          {{ edit_form.end_dt }}
          {{ edit_form.end_dt.errors }}
          <br />
        </td>
      </tr>
      <tr></tr>
    </table>
        <div class='row'>
          <div class='col-md-3'></div>
          <div class='col-md-2'>
            <button type="submit" value="Submit" class="btn btn-primary" >
              <i class="fa fa-edit fa-1x" ></i> Edit Stock  
            </button>
          </div>
        <div class='col-md-2'></div>
        <div class='col-md-2'>
          <button type="submit" value="View Stock" name="View Stock" class="btn btn-primary" >
            <i class="fa fa-eye fa-1x" ></i> View Stock  
          </button>
        </div>
    
   </form>
   </div>
   <hr>
   
{% else %}
	<div class="container">
        <div class="row">
        	<div class="col-md-4 text-align-center">
        		<!-- <i class="fa fa-id-card fa-5x" aria-hidden="true"></i> -->
        	</div>
        	<div class="col-md-4 text-align-center">
        		<!-- <i class="fa fa-plus fa-5x" ></i> -->
        	</div> 
		</div>
    </div>
{% endif %}
{% endblock %}