<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Meyy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" method="POST" action="{% url 'auth_login' %}">{% csrf_token %}
        {% if request.user.is_authenticated %}
          <button formaction="{% url 'auth_logout' %}" class="btn btn-outline-success my-2 my-sm-0" type="submit" >Logout</button>
        {% else %}
          {% if not "/accounts/login" in request.get_full_path %}
          <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" >
          <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password">
          <button class="btn btn-outline-success mr-sm-2" type="submit">Login</button>
          {% endif %}
          <!-- <button formaction="{% url 'registration_register' %}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Registration</button> -->

        {% endif %}
        </form>
      </div>
      </div>
    </nav>