{% load static %}
 <html>
     <head>
         <title>pdf</title>
         <style type="text/css">
             body {
                 font-weight: 200;
                 font-size: 14px;
                 align-self: center;
             }
             .header {
                 font-size: 20px;
                 font-weight: 100;
                 text-align: center;
                 color: #007cae;
             }
             .title {
                 font-size: 22px;
                 font-weight: 100;
                /* text-align: right;*/
                padding: 10px 20px 0px 20px;  
             }
             .title span {
                 color: #007cae;
             }
             .details {
                 padding: 10px 20px 0px 20px;
                 text-align: center !important;
                 /*margin-left: 40%;*/
             }
             .hrItem {
                 border: none;
                 height: 1px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
         </style>
     </head>
     <body>
         <div class='wrapper'>
             <div class='header'>
                 <p class='title'>Stock details of : {{itemname}} </p>
             </div>
         <div>
            <hr>
            <table class="table" align="center">
         <div class='details'>

                
                <tr><th align="justify">No.</th><th align="justify">Date</th><th align="justify">Incoming</th><th align="justify">Opening</th><th align="justify">Sales</th>
                  <th align="justify">Closing</th><th align="justify">Added</th></tr>
                
                {% for item in queryset %}
                    <tr><td align="justify">{{forloop.counter}}</td><td align="justify">{{item.date}}</td><td align="justify">{{item.incoming}}</td><td align="justify">{{item.opening}}</td><td align="justify">{{item.sales}}</td><td align="justify">{{item.closing}}</td><td align="justify">{{item.timestamp|date}}</td></tr>
                {% endfor %}
            
         </div>
         </table>
         <hr>
         <tr style="border-bottom: 1px solid #000;">
         <table align="center">

                <tr><td></td><th align="justify">TOTAL</th><th align="justify">{{total_incoming}}</th><td></td><th align="justify">{{total_sales}}</th><th></th><td>
            </td></tr>
         </table>
     </div>
     </body>
 </html>