{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{logged_in_as}}</h1>
	  <div class='row'>
    <div class="col-md-4"></div>
    <div class='col-md-4 col-md-offset-3'>
      <!-- <tr><td><h4>Item Name :{{itemname}}</h4></td></tr> -->
      <table>
        <form method ='POST' action=''>{% csrf_token %}
          {{TaxDetailsForm|crispy}}
          <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-2">
          <button type="submit" value="Calculate tax" name="Calculate tax" class='btn btn-primary'>
          <i class="fa fa-calculate fa-1x" ></i> Calculate tax
        </button>
        </div>
      </div><br> 
          </form>
        </table>
    </div>
    </div>
{% endif %}
{% endblock %}