{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{logged_in_as}}</h1>
  
<div class="row">
  <div class="container">
  <div class="col-md-1"></div>
<form method="post" action="">{% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
      <div class='row'>
        <div class="col-md-1">
      <div class="col-md-1">{{forloop.counter}}</div></div>
      
      {{form|crispy}}  
    </div>

    {% endfor %}

    {% if formset.non_form_errors %}
        {% for error in formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
    <div class='row'>
      <div class="col-md-4"></div>
  <div class='col-md-4'>
    <button type="submit" value="update stock" class='btn btn-primary'>
      <i class="fa fa-floppy-o fa-1x" ></i> upload stock
    </button>
  </div>
   <div class="col-md-1">
    <a class='btn btn-primary' href="{% url 'daily_stock' extra date %}">
      <i class="fa fa-plus fa-1x" ></i> Add Row</a>
    </div>
</div>
  
</form>
</div>
</div>
 

{% endif %}
{% endblock %}
