{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{logged_in_as}}</h1>
	  <div class='row'>
	  <div class="col-md-4"></div>
	  <div class='col-md-4 col-md-offset-3'>
	  	<tr><td><h4>Item Name :{{itemname}}</h4></td></tr>
	  	<table>
	    	<form method ='POST' action=''>{% csrf_token %}
	      	{{form|crispy}}
	      	<div class="row">
        	
        	<div class="col-md-9">
	        <button type="submit" value="save" class='btn btn-primary'>
		      <i class="fa fa-floppy-o fa-1x" ></i> save
		    </button></div>
	    	<div class="col-md-2">
	        <button class='btn btn-danger' type="submit" name="delete" value="delete"><i class="fa fa-trash-o fa-3px"></i> Delete</button>
	        </div>
	    	</div>
	        </form>
	      </table>
	    
	  </div>
	  </div>
{% endif %}
{% endblock %}