{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{logged_in_as}}</h1>
  <div class='row'>
  <div class="col-md-4"></div>
  <div class='col-md-4 col-md-offset-3'>

    <form method ='POST'>{% csrf_token %}
      {{form|crispy}}
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <button type="submit" value="submit" class='btn btn-primary'>
        <i class="fa fa-floppy-o fa-1x" ></i> Add stock
    </button>
      </div>
      </div>  
    </form>
  </div>
  </div>

	<div class="container">
	<table class="table">
    <tr><th>NO.</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Item Type</th>
        <th>KDM</th>
        <th>Active</th>
        <th>Added on</th></tr>
	{% for item in queryset %}
		<tr>
      <td>{{forloop.counter}}</td>
      <td><a href="{% url 'itemedit' item.name %}">{{item.name}}</a></td>
      <td>{{item.description}}</td>
      <td>{{item.itemtype}}</td>
      <td>{{item.kdm}}</td>
      <td>{{item.active}}</td>
      <td>{{item.timestamp|timesince}} ago</td>
    </tr>
	{% endfor %}
	</table>
	</div>
{% endif %}
{% endblock %}