{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{logged_in_as}}</h1>
<hr>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
    <h1>Stock details of : {{itemname}}</h1>
    <hr>
  </div>
  <table class="table">
    <tr><th>No.</th><th>Date</th><th>Incoming</th><th>Opening</th><th>Sales</th>
      <th>Closing</th><th>Added</th></tr>
  {% if queryset %}
    {% for item in queryset %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.date}}</td><td align="center">{{item.incoming}}</td><td align="center">{{item.opening}}</td><td align="center">{{item.sales}}</td><td align="center">{{item.closing}}</td><td align="center">{{item.timestamp|date}}</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
    <tr><td></td><th>TOTAL</th><th>{{total_incoming}}</th><th></th><th>{{total_sales}}</th><th></th></tr> 
  </table>

  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-4">
        <form method="post" action="">{% csrf_token %}
        <button formtarget="_blank" type="submit" value="Print" name ="Print" class="btn btn-primary" >
      <i class="fa fa-print fa-1x" ></i> Print
      </button>
    </form>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}