{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{logged_in_as}}</h1>
<div class='row'>
  <div class="col-md-1"></div>

<form method="post" action="">{% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
      <div class='row'>
        
      
      {{form|crispy}}  
    </div>

    {% endfor %}

    {% if formset.non_form_errors %}
        {% for error in formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
    <hr>
    <div class='row'>
    <div class="col-md-4"><h3>TOTAL</h3></div>
    <div class="col-md-4"><h3>
    {{total_incoming}}</h3>
    </div>
    <div class="col-md-4"><h3>{{total_sales}}</h3></div>
  </div>
  <hr>
    <div class='row'>
      <div class="col-md-5"></div>
  <div class='col-md-4'>
    <button type="submit" value="save stock" class='btn btn-primary'>
      <i class="fa fa-floppy-o fa-1x" ></i> save stock
    </button>
  </div>
</div>

</form>
</div>



{% endif %}
{% endblock %}
