% load static %}
 <html>
     <head>
         <title>pdf</title>
         <style type="text/css">
             body {
                 font-weight: 200;
                 font-size: 14px;
                 align-self: center;
             }
             .header {
                 font-size: 20px;
                 font-weight: 100;
                 text-align: center;
                 color: #007cae;
             }
             .title {
                 font-size: 22px;
                 font-weight: 100;
                /* text-align: right;*/
                padding: 10px 20px 0px 20px;  
             }
             .title span {
                 color: #007cae;
             }
             .details {
                 padding: 10px 20px 0px 20px;
                 text-align: center !important;
                 /*margin-left: 40%;*/
             }
             .hrItem {
                 border: none;
                 height: 1px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
         </style>
     </head>
     <body>
         <div class='wrapper'>
             <div class='header'>
                 <p class='title'>Silver sales</p>
             </div>
         <div>
            <hr>
            <table class="table" align="center">
         <div class='details'>

                
    <tr><th>No.</th><th>Date</th><th>Bill no.</th><th>Sales weight</th><th>Amount</th>
      <th>Cgst</th><th>Sgst</th><th>Total</th></tr>

      <tr style="border-bottom: 1px solid #000;">
      <tr></tr>
  
  {% if tax_dict %}
    {% for item in tax_dict %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.date|date:"Y-m-d"}}</td><td align="center">{{item.s_bill_no}}</td><td align="center">{{item.sal_sil_weight}}</td><td align="center">{{item.sal_sil_amount}}</td><td align="center">{{item.sal_sil_cgst}}</td><td align="center">{{item.sal_sil_sgst}}</td><td align="center">{{item.sal_sil_total}}</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
     
            
         </div>
         </table>
         <hr>
         <tr style="border-bottom: 1px solid #000;">
         <table align="center">

                <tr><td></td><th>TOTAL</th><th></th><th>{{grand_tot.sal_sil_weight_gt}}</th><th>{{grand_tot.sal_sil_amount_gt}}</th><th>{{grand_tot.sal_sil_cgst_gt}}</th><th>{{grand_tot.sal_sil_sgst_gt}}</th><th>{{grand_tot.sal_sil_total_gt}}
    </th></tr>
         </table>
     {% for i in days_br %}
            <br>
     {% endfor %}

     </body>
          <body>
         <div class='wrapper'>
             <div class='header'>
                 <p class='title'>Silver incoming</p>
             </div>
         <div>
            <hr>
            <table class="table" align="center">
         <div class='details'>

                
    <tr><th>No.</th><th>Date</th><th>Bill no.</th><th>Incoming weight</th><th>Amount</th>
      <th>Cgst</th><th>Sgst</th><th>Total</th></tr>

      <tr style="border-bottom: 1px solid #000;">
      <tr></tr>
  
    {% if tax_dict %}
    {% for item in tax_dict %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.date|date:"Y-m-d"}}</td><td align="center">{{item.s_bill_no}}</td><td align="center">{{item.inc_sil_weight}}</td><td align="center">{{item.inc_sil_amount}}</td><td align="center">{{item.inc_sil_cgst}}</td><td align="center">{{item.inc_sil_sgst}}</td><td align="center">{{item.inc_sil_total}}</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
     
            
         </div>
         </table>
         <hr>
         <tr style="border-bottom: 1px solid #000;">
         <table align="center">

                <tr><td></td><th>TOTAL</th><th></th><th>{{grand_tot.inc_sil_weight_gt}}</th><th>{{grand_tot.inc_sil_amount_gt}}</th><th>{{grand_tot.inc_sil_cgst_gt}}</th><th>{{grand_tot.inc_sil_sgst_gt}}</th><th>{{grand_tot.inc_sil_total_gt}}
    </th></tr>
         </table>
     </div>
     </body>

     {% for i in days_br %}
            <br>
     {% endfor %}

     <body>
         <div class='wrapper'>
             <div class='header'>
                 <p class='title'>Gold sales</p>
             </div>
         <div>
            <hr>
            <table class="table" align="center">
         <div class='details'>

                
     <tr><th>No.</th><th>Date</th><th>Bill no.</th><th>Sales weight</th><th>Amount</th>
      <th>Cgst</th><th>Sgst</th><th>Total</th></tr>

      <tr style="border-bottom: 1px solid #000;">
      <tr></tr>
  
  {% if tax_dict %}
    {% for item in tax_dict %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.date|date:"Y-m-d"}}</td><td align="center">{{item.g_bill_no}}</td><td align="center">{{item.sal_gol_weight}}</td><td align="center">{{item.sal_gol_amount}}</td><td align="center">{{item.sal_gol_cgst}}</td><td align="center">{{item.sal_gol_sgst}}</td><td align="center">{{item.sal_gol_total}}</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
     
            
         </div>
         </table>
         <hr>
         <tr style="border-bottom: 1px solid #000;">
         <table align="center">

                   <tr><td></td><th>TOTAL</th><th></th><th>{{grand_tot.sal_gol_weight_gt}}</th><th>{{grand_tot.sal_gol_amount_gt}}</th><th>{{grand_tot.sal_gol_cgst_gt}}</th><th>{{grand_tot.sal_gol_sgst_gt}}</th><th>{{grand_tot.sal_gol_total_gt}}
    </th></tr> 
         </table>
     </div>
     </body>

     {% for i in days_br %}
            <br>
     {% endfor %}

     <body>
         <div class='wrapper'>
             <div class='header'>
                 <p class='title'>Gold incoming</p>
             </div>
         <div>
            <hr>
            <table class="table" align="center">
         <div class='details'>

                
    <tr><th>No.</th><th>Date</th><th>Bill no.</th><th>incoming weight</th><th>Amount</th>
      <th>Cgst</th><th>Sgst</th><th>Total</th></tr>

      <tr style="border-bottom: 1px solid #000;">
      <tr></tr>
  
{% if tax_dict %}
    {% for item in tax_dict %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.date|date:"Y-m-d"}}</td><td align="center">{{item.g_bill_no}}</td><td align="center">{{item.inc_gol_weight}}</td><td align="center">{{item.inc_gol_amount}}</td><td align="center">{{item.inc_gol_cgst}}</td><td align="center">{{item.inc_gol_sgst}}</td><td align="center">{{item.inc_gol_total}}</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
     
            
         </div>
         </table>
         <hr>
         <tr style="border-bottom: 1px solid #000;">
         <table align="center">

                <tr><td></td><th>TOTAL</th><th></th><th>{{grand_tot.inc_gol_weight_gt}}</th><th>{{grand_tot.inc_gol_amount_gt}}</th><th>{{grand_tot.inc_gol_cgst_gt}}</th><th>{{grand_tot.inc_gol_sgst_gt}}</th><th>{{grand_tot.inc_gol_total_gt}}
    </th></tr> 
         </table>
     </div>
     </body>

     {% for i in days_br %}
            <br>
     {% endfor %}
     <body>
         <div class='wrapper'>
             <div class='header'>
                 <p class='title'>Summary</p>
             </div>
         <div>
            <hr>
  <table class="table">
    <tr><th>No.</th><th>Details</th><th>Incoming weight</th><th>Sales weight</th><th>Sales amount</th><th>Incoming amount</th>
      <th>Cgst</th><th>Sgst</th><th>Total</th></tr>
      <tr style="border-bottom: 1px solid #000;">
      <tr></tr>
  {% if tax_dict %}
    
      <tr><td align="center">1</td><td align="center">gold sales</td><td align="center">-</td><td align="center">{{grand_tot.sal_gol_weight_gt}}</td><td align="center">
      {{grand_tot.sal_gol_amount_gt}}</td><td align="center">
      -</td><td align="center">
      {{grand_tot.sal_gol_cgst_gt}}</td><td align="center">{{grand_tot.sal_gol_sgst_gt}}</td><td align="center">{{grand_tot.sal_gol_total_gt}}</td></tr>

      <tr><td align="center">2</td><td align="center">gold incoming</td><td align="center">{{grand_tot.inc_gol_weight_gt}}</td><td align="center">-</td><td align="center">
      -</td><td align="center">
      {{grand_tot.inc_gol_amount_gt}}</td><td align="center">
      {{grand_tot.inc_gol_cgst_gt}}</td><td align="center">{{grand_tot.inc_gol_sgst_gt}}</td><td align="center">{{grand_tot.inc_gol_total_gt}}</td></tr>
      
      <tr><td align="center">3</td><td align="center">silver sales</td><td align="center">-</td><td align="center">{{grand_tot.sal_sil_weight_gt}}</td><td align="center">
      {{grand_tot.sal_sil_amount_gt}}</td><td align="center">
      -</td><td align="center">
      {{grand_tot.sal_sil_cgst_gt}}</td><td align="center">{{grand_tot.sal_sil_sgst_gt}}</td><td align="center">{{grand_tot.sal_sil_total_gt}}</td></tr>

      <tr><td align="center">4</td><td align="center">silver incoming</td><td align="center">{{grand_tot.inc_sil_weight_gt}}</td><td align="center">-</td><td align="center">
      -</td><td align="center">
      {{grand_tot.inc_sil_amount_gt}}</td><td align="center">
      {{grand_tot.inc_sil_cgst_gt}}</td><td align="center">{{grand_tot.inc_sil_sgst_gt}}</td><td align="center">{{grand_tot.inc_sil_total_gt}}</td></tr>

  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
    </div>
         </table>
         <hr>
         <tr style="border-bottom: 1px solid #000;">
         <table align="center">
    <tr><td></td><th>TOTAL</th><th></th><th></th><th>{{sales_sum}}</th><th>{{incoming_sum}}</th><th>{{cgst_sum}}</th><th>{{sgst_sum}}</th><th>{{total_sum}}
    </th></tr> 
  </table>
  </div>
 </html>
 