{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block head_title %}Welcome | {{ block.super }}{% endblock %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{logged_in_as}}</h1>
  
<hr>
  <div class="container">
    <caption><h1>Silver sales</h1></caption>
  <table class="table">
    <tr><th>No.</th><th>Date</th><th>Bill no.</th><th>Sales weight</th><th>Amount</th>
      <th>Cgst</th><th>Sgst</th><th>Total</th></tr>
  {% if tax_dict %}
    {% for item in tax_dict %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.date}}</td><td align="center">{{item.s_bill_no}}</td><td align="center">{{item.sal_sil_weight}}</td><td align="center">{{item.sal_sil_amount}}</td><td align="center">{{item.sal_sil_cgst}}</td><td align="center">{{item.sal_sil_sgst}}</td><td align="center">{{item.sal_sil_total}}</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
    <tr><td></td><th>TOTAL</th><th></th><th>{{grand_tot.sal_sil_weight_gt}}</th><th>{{grand_tot.sal_sil_amount_gt}}</th><th>{{grand_tot.sal_sil_cgst_gt}}</th><th>{{grand_tot.sal_sil_sgst_gt}}</th><th>{{grand_tot.sal_sil_total_gt}}
    </th></tr> 
  </table>

  <hr>


  <div class="container">
    <caption><h1>Silver incoming</h1></caption>
  <table class="table">
    <tr><th>No.</th><th>Date</th><th>Bill no.</th><th>Incoming weight</th><th>Amount</th>
      <th>Cgst</th><th>Sgst</th><th>Total</th></tr>
  {% if tax_dict %}
    {% for item in tax_dict %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.date}}</td><td align="center">{{item.s_bill_no}}</td><td align="center">{{item.inc_sil_weight}}</td><td align="center">{{item.inc_sil_amount}}</td><td align="center">{{item.inc_sil_cgst}}</td><td align="center">{{item.inc_sil_sgst}}</td><td align="center">{{item.inc_sil_total}}</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
    <tr><td></td><th>TOTAL</th><th></th><th>{{grand_tot.inc_sil_weight_gt}}</th><th>{{grand_tot.inc_sil_amount_gt}}</th><th>{{grand_tot.inc_sil_cgst_gt}}</th><th>{{grand_tot.inc_sil_sgst_gt}}</th><th>{{grand_tot.inc_sil_total_gt}}
    </th></tr> 
  </table>
  </div>

<hr>


  <div class="container">
    <caption><h1>Gold sales</h1></caption>
  <table class="table">
    <tr><th>No.</th><th>Date</th><th>Bill no.</th><th>sales weight</th><th>Amount</th>
      <th>Cgst</th><th>Sgst</th><th>Total</th></tr>
  {% if tax_dict %}
    {% for item in tax_dict %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.date}}</td><td align="center">{{item.g_bill_no}}</td><td align="center">{{item.sal_gol_weight}}</td><td align="center">{{item.sal_gol_amount}}</td><td align="center">{{item.sal_gol_cgst}}</td><td align="center">{{item.sal_gol_sgst}}</td><td align="center">{{item.sal_gol_total}}</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
    <tr><td></td><th>TOTAL</th><th></th><th>{{grand_tot.sal_gol_weight_gt}}</th><th>{{grand_tot.sal_gol_amount_gt}}</th><th>{{grand_tot.sal_gol_cgst_gt}}</th><th>{{grand_tot.sal_gol_sgst_gt}}</th><th>{{grand_tot.sal_gol_total_gt}}
    </th></tr> 
  </table>
  </div>


<hr>


  <div class="container">
    <caption><h1>Gold incoming</h1></caption>
  <table class="table">
    <tr><th>No.</th><th>Date</th><th>Bill no.</th><th>incoming weight</th><th>Amount</th>
      <th>Cgst</th><th>Sgst</th><th>Total</th></tr>
  {% if tax_dict %}
    {% for item in tax_dict %}
      <tr><td align="center">{{forloop.counter}}</td><td align="center">{{item.date}}</td><td align="center">{{item.g_bill_no}}</td><td align="center">{{item.inc_gol_weight}}</td><td align="center">{{item.inc_gol_amount}}</td><td align="center">{{item.inc_gol_cgst}}</td><td align="center">{{item.inc_gol_sgst}}</td><td align="center">{{item.inc_gol_total}}</td></tr>
    {% endfor %}
  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
    <tr><td></td><th>TOTAL</th><th></th><th>{{grand_tot.inc_gol_weight_gt}}</th><th>{{grand_tot.inc_gol_amount_gt}}</th><th>{{grand_tot.inc_gol_cgst_gt}}</th><th>{{grand_tot.inc_gol_sgst_gt}}</th><th>{{grand_tot.inc_gol_total_gt}}
    </th></tr> 
  </table>
  </div>

<hr>


  <div class="container">
    <caption><h1>Summary</h1></caption>
  <table class="table">
    <tr><th>No.</th><th>Details</th><th>Incoming weight</th><th>Sales weight</th><th>Sales amount</th><th>Incoming amount</th>
      <th>Cgst</th><th>Sgst</th><th>Total</th></tr>
  {% if tax_dict %}
    
      <tr><td align="center">1</td><td align="center">gold sales</td><td align="center">-</td><td align="center">{{grand_tot.sal_gol_weight_gt}}</td><td align="center">
      {{grand_tot.sal_gol_amount_gt}}</td><td align="center">
      -</td><td align="center">
      {{grand_tot.sal_gol_cgst_gt}}</td><td align="center">{{grand_tot.sal_gol_sgst_gt}}</td><td align="center">{{grand_tot.sal_gol_total_gt}}</td></tr>

      <tr><td align="center">2</td><td align="center">gold incoming</td><td align="center">{{grand_tot.inc_gol_weight_gt}}</td><td align="center">-</td><td align="center">
      -</td><td align="center">
      {{grand_tot.inc_gol_amount_gt}}</td><td align="center">
      {{grand_tot.inc_gol_cgst_gt}}</td><td align="center">{{grand_tot.inc_gol_sgst_gt}}</td><td align="center">{{grand_tot.inc_gol_total_gt}}</td></tr>
      
      <tr><td align="center">3</td><td align="center">silver sales</td><td align="center">-</td><td align="center">{{grand_tot.sal_sil_weight_gt}}</td><td align="center">
      {{grand_tot.sal_sil_amount_gt}}</td><td align="center">
      -</td><td align="center">
      {{grand_tot.sal_sil_cgst_gt}}</td><td align="center">{{grand_tot.sal_sil_sgst_gt}}</td><td align="center">{{grand_tot.sal_sil_total_gt}}</td></tr>

      <tr><td align="center">4</td><td align="center">silver incoming</td><td align="center">{{grand_tot.inc_sil_weight_gt}}</td><td align="center">-</td><td align="center">
      -</td><td align="center">
      {{grand_tot.inc_sil_amount_gt}}</td><td align="center">
      {{grand_tot.inc_sil_cgst_gt}}</td><td align="center">{{grand_tot.inc_sil_sgst_gt}}</td><td align="center">{{grand_tot.inc_sil_total_gt}}</td></tr>

  {% else %}
    <tr><th></th><th></th><th></th><th>NO DATA UPDATED</th><th></th>
      <th></th><th></th></tr>
  {% endif %}
    <tr><td></td><th>TOTAL</th><th></th><th></th><th>{{sales_sum}}</th><th>{{incoming_sum}}</th><th>{{cgst_sum}}</th><th>{{sgst_sum}}</th><th>{{total_sum}}
    </th></tr> 
  </table>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-4">
        <form method="post" action="">{% csrf_token %}
        <button formtarget="_blank" type="submit" value="Print" name ="Print" class="btn btn-primary" >
      <i class="fa fa-print fa-1x" ></i> Print
      </button>
    </form>
      </div>
    </div>
  </div>

{% endif %}
{% endblock %}

